#tasks {
    padding: 20px 15px 5px;
    display: flex;
    flex-direction: column;
    gap: 45px;
    max-width: 600px;
    margin: auto;
    background-color: var(--global-bg-color-soft);
}

#tasks .wrapper_list {
    border-radius: var(--global-border-radius);
    height: calc(100vh - 100px);
    padding: 10px;
    box-shadow: 0 2px 5px #dbdbdb;
    flex: 2;
    background-color: #FAFAFA;
    margin-bottom: 1em;
}

#tasks .list{
    flex: 1 1 1px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

#tasks .wrapper_list h2 {
    font-size: 1.2rem;
    margin: 0;
}

#tasks .wrapper_list .list_group {
    display: flex;
    flex-direction: row;
    gap: 5px 10px;
    flex: 1 1 1px;
}

#tasks .filters {
    display: flex;
    flex-direction: column;
    margin: 5px 0 15px;
    gap: 5px;
 }
 
 #tasks .filters > * {
    flex: 1;
 }
 
 #tasks .filters select,
 #tasks .filters input {
    border: 0.5px solid #e9e9e9;
    border-radius: 8px;
    color: #000;
    flex: 1 1;
    font-size: 0.9rem;
    font-weight: 400;
    margin-bottom: 0.2rem;
    outline: 0;
    padding: 0.745rem 0.745rem;
    position: relative;
    width: 100%;
    box-sizing: border-box;
 }
 
 #tasks .filters .search {
    position: relative;
 }
 
 #tasks .filters .search .clear {
    position: absolute;
    z-index: 1;
    top: 6px;
    right: 12px;
    font-size: 20px;
    color: var(--global-primary-color);
    cursor: pointer;
 }

@media (min-width:900px) {
    #tasks {
        flex-direction: row;
        max-width: none;
        margin: 0;
        gap: 15px;
    }
}

@media (min-width:1300px) {
    #tasks .wrapper_list {
        flex: 1;
    }
}

.container-skeleton{
    display: flex;
    height: 100%;
    gap: 10px;
    box-sizing: border-box;
}

.container-skeleton span{
    flex: 1 1 1px;
    height: 100%;
}