.task-form {
    flex: 1;
    display: flex;
    flex-direction: column;
    max-width: 600px;
    margin: 0 auto;
    width: 100%;
    margin-bottom: 3em;
}

.task-form h2 {
    margin: 0;
}

.task-form > form {
    width: 100%;
    padding-right: 15px;
    box-sizing: border-box;
}

.task-form > form > div {
    display: flex;
    flex-wrap: wrap;
    /* gap: .9rem; */
    flex-direction: column;
    justify-content:space-between;
    margin-bottom: .6rem;
}

.task-form > form > div > div {
    flex: 1;
}

.task-form input,
.task-form select,
.task-form textarea {
    border: 1px solid #e9e9e9;
    border-radius: 8px;
    color: #000;
    flex: 1 1;
    font-size: .9rem;
    font-weight: 400;
    margin-bottom: .2rem;
    outline: 0;
    padding: .745rem;
    position: relative;
    width: 100%;
    box-sizing: border-box;
}

.task-form input.error,
.task-form select.error,
.task-form textarea.error {
    border: solid 1px var(--global-error-color);
    color: var(--global-error-color);
}

.error-message {
    width: 100%;
    font-size: .8rem;
    color: var(--global-error-color);
}

.task-form textarea {
    min-width: 140px;
}

.task-form button {
    transform: all .3s ease-out;
    background-color: var(--global-primary-color);
    border-radius: var(--global-border-radius);
    border: 0;
    color: var(--global-bg-color-soft);
    padding: 10px !important;
    font-size: 16px;
    cursor: pointer;
    justify-content:center;

    width: 100%;
}

.task-form button:hover {
    background-color: var(--global-secondary-color);
}

@media (min-width:1300px) {
    .task-form{
        flex: 1;
    }

    .task-form > form > div {
        flex-direction: row;
    }
}