.task-form {
    flex: 1 1 1px;
    display: flex;
    flex-direction: column;
}

.task-form h2 {
    font-size: 24px;
    margin: 0;
}

.task-form p {
    font-size: 15px;
}

.task-form > form {
    width: 100%;
    box-sizing: border-box;
}

.task-form > form > div {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content:space-between;
    margin-bottom: .6rem;
}

.task-form > form > div > div {
    flex: 1;
}

.task-form input,
.task-form select,
.task-form textarea {
    border: 1px solid #e9e9e9;
    border-radius: 8px;
    color: #000;
    flex: 1 1;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: .2rem;
    outline: 0;
    padding: .745rem;
    position: relative;
    width: 100%;
    box-sizing: border-box;
}

.task-form input.error,
.task-form select.error,
.task-form textarea.error {
    border: solid 1px var(--global-primary-color);
    color: var(--global-primary-color);
}

.error-message {
    width: 100%;
    font-size: .8rem;
    color: var(--global-primary-color);
}

.task-form textarea {
    min-height: 106px;
    width: 100%;
    resize: none;
}

.task-form button {
    transform: all .3s ease-out;
    background-color: var(--global-primary-color);
    border-radius: var(--global-border-radius);
    border: 1px solid transparent;
    color: var(--global-bg-color-soft);
    padding: 10px !important;
    font-size: 16px;
    cursor: pointer;
    justify-content:center;
    width: 100px;
    height: 42px;
    line-height: 21px;
}

.task-form button:hover {
    border: 1px solid var(--global-primary-color);
    background-color: transparent;
    color: var(--global-primary-color);
}

@media (min-width:900px) {
    .task-form input,
    .task-form select,
    .task-form textarea {
        font-size: 12px;
        height: 37px;
        line-height: 17px;
        margin: 0;
    }

    .task-form button{
        font-size: 15px;
        height: 37px;
        line-height: 17px;
    }
}

@media (min-width:1300px) {
    .task-form{
        flex: 1;
    }
    .task-form > form {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(32%,1fr));
        grid-template-rows: repeat(3,auto);
        align-items: start;
        gap: 12px;
    }
    .task-form > form > div {
        margin: 0;
    }
    .task-form .div-textarea{
        grid-column: 3 span;
    }

}