@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;400;700&display=swap');

*{
  font-family: 'Nunito', sans-serif;
}

:root{
  --global-primary-color:#FF452B;
  --global-text-color:#000000;
  --global-text-color-2: #8B8B8B;
  --global-bg-color:#E5E5E5;
  --global-bg-color-soft:#FFFFFF;
  --global-border-radius:8px;
  --global-border: 1px solid #E5E5E5;;

  --global-bg-color:#E5E5E5;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--global-bg-color);
  color: var(--global-text-color);
}

*,
*::after,
*::before{
  box-sizing: border-box;
}

h1{
  font-size: 24px;
  font-weight: 500;
  margin: 0;
}

select {
  cursor: pointer;
}

@media (min-width:900px) {
  body {
    background-color: var(--global-bg-color-soft);
  }
}